

.box{display: grid;
    width: 20vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
      grid-area: 1 / 1 / span 1 / span 1;
    background-color: white;
    }
    
    .goa{padding:100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
      transition: background-color 5s ease-out;
      background-color:white;
      text-color
    }
    
    .goa:hover {
      
      background-color:blue;
      font-size: 15px;
      font-family: brevier, sans-serif;
    
    font-weight: 400;
    
    font-style: normal;
      text-color: white;
      width: 20vw;
    height: 100vh;
      
    }
    
    .agra{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .phuket{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .london{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .mexico{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .norway{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .losangeles{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .Alaska{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .Dubai{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .Indonesia{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    .Hongkong{padding: 100px;
    opacity: 100%;
      font-family: Helvetica, sans-serif;
    overflow: scroll;
    transition-property: opacity;
    transition-duration: 500ms;
    }
    
    h1{color:black;
      text-align: left;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    
      
    }
    
    h2{color:black;
      
    }
    
      <style>
        * { cursor: url(crosshair.cur), default; }
      </style>